<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Script.Methods.ScriptSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Script.Methods.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Script.Methods.ScriptSettings>
            <setting name="PORT_A" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="PORT_B" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="PORT_C" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="PORT_D" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="PLC_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PLC_PORT" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="PLC_RD" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="PLC_WD" serializeAs="String">
                <value>3700</value>
            </setting>
            <setting name="PLC_WLen" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PLC_RLen" serializeAs="String">
                <value>100</value>
            </setting>
        </Script.Methods.ScriptSettings>
        <Script.Methods.Properties.Settings>
            <setting name="PORT_A" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="PORT_B" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="PORT_C" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="PORT_D" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="PLC_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PLC_PORT" serializeAs="String">
                <value>6000</value>
            </setting>
        </Script.Methods.Properties.Settings>
    </userSettings>
</configuration>